<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Houshold</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <nav>
        <h2>Sign Out</h2>
    </nav>

    <main id="notesMain">
        <section id="listSection">
            <div id="groupName">
                <h1>&lt Group Name &gt</h1>
            </div>

            <hr class="hr1">
        
        </section>

        <div class="vertical-line2"></div>

        <section id="itemSection">
            <div id="listName">
                <h1>&lt List Name &gt</h1>
            </div>

            <hr class="hr2">

        </section>
    </main>
    


</body>
</html>