<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Houshold</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <nav>
        <h2>Sign Out</h2>
    </nav>

    <main id="notesMain">
        <section id="listSection">
            <div id="groupName">
                <h1>&lt Group Name &gt</h1>
            </div>

            <hr class="hr1">

            <div class="listoflists">
                <div class="list">
                    <h3>&lt List 1 &gt</h3>
                </div>

                <div class="list">
                    <h3>&lt List 2 &gt</h3>
                </div>
            </div>
        
        </section>

        <div class="vertical-line2"></div>

        <section id="itemSection">
            <div id="listName">
                <h1>&lt List 1 &gt</h1>
            </div>

            <hr class="hr2">

            <div>
                <button id="newNoteBtn">New Note</button>
            </div>

            <div id="listofitems">

                <div class="itemMain hide" id="newNote">

                    <div class="item" id="newNoteItem">
                        <div class="itemTitle">
                            <input id="newNoteTitleInput" placeholder="Note title">
                        </div>

                        <div class="itemContent">
                            <textarea id="newNoteContentInput" placeholder="Note Content"></textarea>
                        </div>
                    </div>

                    <div class="itemButton">
                        <button id="createNoteBtn">Create Note</button>
                        <button id="cancelCreateNoteBtn">Cancel</button>
                    </div>
                </div>                


                <div class="itemMain">

                    <div class="item">
                        <div class="itemTitle">
                            <h3>&lt Item 1 &gt</h3>
                        </div>

                        <div class="itemContent">
                            <p>Give the dog a bath</p>
                        </div>
                    </div>

                    <div class="itemButton">
                        <button>Delete</button>
                    </div>
                </div>

                <div class="itemMain">

                    <div class="item">
                        <div class="itemTitle">
                            <h3>&lt Item 2 &gt</h3>
                        </div>

                        <div class="itemContent">
                            <p>Sweep patio</p>
                        </div>
                    </div>
                    
                    <div class="itemButton">
                        <button>Delete</button>
                    </div>
                </div>
            </div>

            

        </section>
    </main>
    

<script src="notepage.js"></script>
</body>
</html>