<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Houshold</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <nav>
        <h2>Sign Out</h2>
    </nav>

    <main id="notesMain">
        <section id="listSection">
            <div id="groupName">
                <h1> Lists </h1>
            </div>

            <hr class="hr1">
            <button id="newListBtn">New List</button>
            <hr class="hr1">

            <div id="listoflists">
                <div id="createListDiv" class="hide">
                    <input placeholder="List Title">
                    <button id="createListBtn">Create List</button>
                </div>
            </div>
        
        </section>

        <div class="vertical-line2"></div>

        <section id="itemSection">
            <div>
                <h1 id="listName">{ Choose A List }</h1>
            </div>

            <hr class="hr2">

            <div>
                <button id="newNoteBtn">New Note</button>
            </div>

            <div class="list1" id="listofitems">

                <div class="itemMain hide" id="newNote">

                    <div class="item" id="newNoteItem">
                        <div class="itemTitle">
                            <input id="newNoteTitleInput" placeholder="Note title">
                        </div>

                        <div class="itemContent">
                            <textarea id="newNoteContentInput" placeholder="Note Content"></textarea>
                        </div>
                    </div>

                    <div class="itemButton">
                        <button id="createNoteBtn">Create Note</button>
                        <button id="cancelCreateNoteBtn">Cancel</button>
                    </div>
                </div>                

            </div>

            

        </section>
    </main>
    

<script src="notepage.js"></script>
</body>
</html>