<section id="homeCheckin">
    <div class="home">
        <!-- <h3>Log In</h3> -->
        <form class="login-form">
            <button class="no-button" type="submit"><h2>Log In</h2></button><br>
            <label for="user-name-login">Username:</label><br>
            <input type="text" id="user-name-login"><br>
            <label for="password-login">Password:</label><br>
            <input type="password" id="password-login">
        </form>
    </div>

    <div class="vertical-line1"></div>

    <div class="home">
        <!-- <h3>Create Account</h3> -->
        <form class="signup-form">
            <button class="no-button" type="submit"><h2>Create Account</h2></button><br>
            <label for="user-name-signup">Username:</label><br>
            <input type="text" id="user-name-signup"><br>
            <label for="user-first-signup">First Name:</label><br>
            <input type="text" id="user-first-signup"><br>
            <labelfor="user-last-signup">Last Name:</label><br>
            <input type="text" id="user-last-signup"><br>
            <labelfor="password-signup">Password:</label><br>
            <input type="password" id="password-signup">
        </form>
    </div>
</section>

<script src="/js/login.js"></script>