<section id="homeCheckin">
    <div class="home">
        <h3>Log In</h3>
        <form>
            <label>Username:</label><br>
            <input type="text"><br>
            <label>Password:</label><br>
            <input type="text">
        </form>
    </div>

    <div class="vertical-line1"></div>

    <div class="home">
        <h3>Create Account</h3>
        <form>
            <label>Username:</label><br>
            <input type="text"><br>
            <label>Password:</label><br>
            <input type="text">
        </form>
    </div>
</section>