<main id="notesMain">

    <section id="itemSection">

        <h1 id="listName">Todo List</h1>

        <hr class="hr2">

        <div>
            <button id="newNoteBtn">
                <h2>New Note</h2>
            </button>
        </div>

        <div class="list1" id="listofitems">

            <div class="itemMain hide" id="newNote">

                <div class="item" id="newNoteItem">
                    <div class="itemTitle">
                        <input id="newNoteTitleInput" placeholder="Note title" />
                    </div>

                    <div class="itemContent">
                        <textarea id="newNoteContentInput" placeholder="Note Content"></textarea>
                    </div>
                </div>

                <div class="itemButton">
                    <button id="createNoteBtn"><h3>Create Note</h3></button>
                    <button id="cancelCreateNoteBtn"><h3>Cancel</h3></button>
                </div>
            </div>

            {{#each notes}}
            <div class="itemMain">
                <div class="item">
                    <div class="itemTitle">
                        <h3>{{this.task}}</h3>
                    </div>
                    <div class="itemContent">
                        <textarea id="">{{this.notes}}</textarea>
                        <!-- <p>{{this.notes}}</p> -->
                    </div>
                    <div class="itemButton">
                        <button class="deleteBtn" data-id="{{this.id}}"><h3>DELETE</h3></button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>



    </section>
</main>

<script src="/js/notes.js"></script>