<main id="notesMain">
  </section>

  <div class="vertical-line2"></div>

  <section id="itemSection">
    <div>
      <h1 id="listName">Todo List</h1><br />
    </div>

    <hr class="hr2" />

    <div>
      <form class="todo-form">
        <label for="taskContent">Task:</label><br />
        <input type="text" id="newTask" /><br />
        <label for="noteContent">Notes:</label><br />
        <input type="text" id="newNotes" /><br />
        <button class="no-button" type="submit"><h2>New Note</h2></button><br />
      </form>
    </div>

        {{#each todo}}
            <div class="row mb-2">
              <div class="col-md-8">
                <h4><a href="/notes/{{todo.id}}">{{todo.task}}</a></h4>
              </div>
              <div class="col-md-4">
                <button
                  class="btn btn-sm btn-danger"
                  data-id="{{todo.id}}"
                >DELETE</button>
              </div>
            </div>
        {{/each}}
  </section>
</main>

<script src="js/notes.js"></script>